<div>
  Result View!

  <div class="float-right">
    <ul class="pagination" >
      <li class="page-item">
        <a class="page-link" (click)="navigateList('previous')">Previous</a>
      </li>
      <li class="page-item">
          <a class="page-link" (click)="navigateList('next')">Next</a>
        </li>
    </ul>
  </div>

  <div>Total Result:{{displayImageList.length}} -- {{displayCurrentResult}}</div>

  <div class="row">
    <div *ngFor="let item of displayImageList" class="col-2">
      <app-image-item [mydata]="item"></app-image-item>
    </div>
  </div>
</div>
